<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <properties>
        <property name="basePath">./logs</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="File" filename="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="5MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <!-- Uncomment below to enable console logging -->
            <!-- <AppenderRef ref="Console"/> -->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
